<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 04 - JavaScript</title>
</head>
<body>

    <!--
    
    Desafio:
    Elaborar um programa que leia o valor
    de um jantar. Calcule e informe
    o valor da taxa do garçom (10% do valor do jantar)
    e o valor total a ser pago (valor do jantar + taxa do garçom).
    
    -->
    
    <form>
        <label for="valorJantar">Calculadora do Jantar:</label>
        <input type="number" id="valorJantar" name="valorJantar" step="0.01" required>
        <button type="button" onclick="calcularTaxaGarcom()">Calcular</button>
    </form>

    


</body>
</html>