<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 03 - JavaScript</title>
</head>
<body>

    <script>
        const a = "20"
        console.log("a: " + a)
        const b = a * 2
        console.log("b: " + b)
        const c = a / 2
        console.log("c: " + c)
        const d = a - 2
        console.log("d: " + d)
        const e = Number(a) + 2
        console.log("e: " + e)
        const f = a % 2
        console.log("f: " + f)
        const g = a ** 2
        console.log("g: " + g)
        console.log("typeof a: " + typeof a)
        console.log("typeof b: " + typeof b)
        console.log("typeof c: " + typeof c)
        console.log("typeof d: " + typeof d)
        console.log("typeof e: " + typeof e)
        console.log("typeof f: " + typeof f)
        console.log("typeof g: " + typeof g)
    </script>

    
</body>
</html>